{% load static tailwind_tags %}
{% load i18n %}
{% load l10n %}

<!DOCTYPE html>
<html lang="en" data-theme="{{ client.client_theme|lower }}">
<head>
  {% comment %} 
  <script>
    // Apply stored theme BEFORE page renders (prevents flash)
    const storedTheme = localStorage.getItem("theme");
    if (storedTheme) {
        document.documentElement.setAttribute("data-theme", storedTheme);
    }
  </script>
  {% endcomment %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{client|title}}</title>
  {% comment %} 
  <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
  {% endcomment %}
  {% tailwind_css %}
</head>
<body class="h-screen min-h-screen">
  
 
  <!-- Header -->
  <header  class="p-4 col-span-2 row-start-1 row-end-2">
    <!-- navbar -->
    <c-navbar_v001></c-navbar_v001> 
  </header>
  <!-- Sidebar -->
  {% comment %} 
  <aside class="bg-gray-100 p-4 row-start-2 row-end-3 col-start-1 col-end-2">
  </aside>
  {% endcomment %}
  
  <main class="container p-4 pt-16 pb-12 h-screen max-w-full">

    {% comment %}     
    {% endcomment %}    
    
    <c-level10to40maker></c-level10to40maker>
    
  </main>

  <!-- Footer -->    
  {% comment %} 
  <c-footer_v001></c-footer_v001>
  {% endcomment %}

  {% comment %}
  <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
  <script>
    themeChange(false);
  </script>
  {% endcomment %}
</body>

</html>

