{% load static tailwind_tags %}
{% load i18n %}
{% load l10n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{client|title}}</title>
  <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
  {% tailwind_css %}
</head>
<body class="h-screen min-h-screen">

 
  <!-- Header -->
  <header  class="p-4 col-span-2 row-start-1 row-end-2">
    <!-- navbar -->
    <!-- {% get_current_language as current_language %} :current_language="{{current_language}}  -->    
    <c-navbar_v001 :nb="{{nb}}" ></c-navbar_v001>
  </header>
  <!-- Sidebar -->
  {% comment %} 
  <aside class="bg-gray-100 p-4 row-start-2 row-end-3 col-start-1 col-end-2">
  </aside>
  {% endcomment %}
  
  <main class="container p-4 pt-16 pb-12 h-screen max-w-full">
        {% comment %}

    {% block content %}{% endblock %}
        {% endcomment %}

    <c-level10maker></c-level10maker>
  </main>

  <!-- Footer -->    
     {% comment %} 

  <c-footer_v001></c-footer_v001>
    {% endcomment %}


</body>

</html>

{% comment %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="bg-gray-50 text-black font-serif leading-normal tracking-normal">

    <div class="toast toast-top toast-end">
        <div class="alert alert-info">
            <span>Hello from daisyUi 👋</span>
        </div>
    </div>

<div class="container mx-auto">
    <section class="flex items-center justify-center h-screen">
        <h1 class="text-5xl">Django + Tailwind = ❤️</h1>
    </section>
</div>
</body>
</html>
{% endcomment %}
