{% load my_filters %}

{% comment %}

{% endcomment %}


{% if card %}

    <div class="card bg-base-100 w-96 shadow-sm {{ card.class|default:"" }}">
                        
        {% if card.figure.position == 'start' %}  
            <c-figure :figure="card.figure"></c-figure>
        {% endif %}
        
        <div class="card-body {{ card.body_class|default:"" }}">
            
            {% if card.actions.position == 'start' %}
                <c-card.actions></c-card.actions>
            {% endif %}      
            <h2 class="card-title {{ card.title.class|default:"" }}">
                <c-textrouter :type="card.title.id_type" :ids="card.title.ids"></c-textrouter>        
            </h2>

            <c-textrouter :type="card.contents.id_type" :ids="card.contents.ids"></c-textrouter>

            {% if card.actions.position == 'end' %}                        
                <c-card.actions></c-card.actions>
            {% endif %}  

        </div>
        {% if card.figure.position == 'end' %}  
            <c-figure :figure="card.figure"></c-figure>
        {% endif %}
        

    </div>
        
{% endif %}

