{% comment %}

called from hero, card etc to display figure, text, card etc
input type is : one of the list items
"contents": [
  {
    "order": 1,
    "hidden": "None",
    "type_id": "text",
    "ltext": "None",
    "actions_class": "None",
    "actions_position_id": "end",
    "textblocks": [
      {
        "block_id": "title",
        "order": 1,
        "css_class": "None",
        "ltext": "None",
        "href_page": "None",
        "items": [
          {
            "type": "text",
            "order": 1,
            "css_class": "None",
            "values": {
              "en": {
                "stext": "Bahushira Home Page Hero",
                "ltext": "ltBahushira Home Page Hero"
              },
              "fr": {
                "stext": "frBahushira Home Page Hero",
                "ltext": "ltfrBahushira Home Page Hero"
              },
              "hi": {
                "stext": "hiBahushira Home Page Hero",
                "ltext": "lthiBahushira Home Page Hero"
              }
            }
          }
        ]
      },
      {
        "block_id": "content",
        "order": 2,
        "css_class": "None",
        "ltext": "None",
        "href_page": "None",
        "items": [
          {
            "type": "text",
            "order": 1,
            "css_class": "None",
            "values": {
              "en": {
                "stext": "This is a content line for Hero in Home page",
                "ltext": ""
              },
              "fr": {
                "stext": "frThis is a content line for Hero in Home page",
                "ltext": ""
              },
              "hi": {
                "stext": "hiThis is a content line for Hero in Home page",
                "ltext": ""
              }
            }
          }
        ]
      },
      {
        "block_id": "actbut",
        "order": 3,
        "css_class": "btn-primary",
        "ltext": "None",
        "href_page": "about",
        "items": [
          {
            "type": "text",
            "order": 1,
            "css_class": "None",
            "values": {
              "en": {
                "stext": "Get Started",
                "ltext": ""
              },
              "fr": {
                "stext": "frGet Started",
                "ltext": ""
              },
              "hi": {
                "stext": "hiGet Started",
                "ltext": ""
              }
            }
          }
        ]
      }
    ]
  },
  {
    "hero": 1,
    "order": 2,
    "hidden": "None",
    "type_id": "figure",
    "ltext": "None",
    "figure_class": "px-0 pt-0",
    "position_id": "start",
    "image_url": "https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp",
    "alt": "Spiderman",
    "css_class": "None"
  }
]

{% endcomment %}

{% if compslot %}   
      
  <div>             
    {% if compslot.slot_type == 'figure' %}                
      <c-figure :compslot="compslot"></c-figure>                           
    {% endif %}
    {% if compslot.slot_type == 'text' %}
      {% for block in compslot.textblocks %} 
        {% if block.block_id == 'title' %}
          <h1 class="flex text-5xl font-bold mb-6 {{ block.css_class|default:"" }}">
            <c-svgtextbadge :items="block.items"></c-svgtextbadge>
          </h1>       
        {% endif %}
        {% if block.block_id == 'content' %}
          <div class="flex flex-col text-2xl mb-6 {{ block.css_class|default:"" }}">
            <c-svgtextbadge :items="block.items"></c-svgtextbadge>
          </div>       
        {% endif %}
        {% if block.block_id == 'actbut' %}
          <div class="justify-end {{ compslot.actions_class|default:"" }}">    
              <c-button :button="block"></c-button>
          </div>
        {% endif %}
      {% endfor %}               
    {% endif %}
  </div>   
{% endif %}   
