
{% comment %}
recd buttons
[
    {
    "order": 3,
    "css_class": "btn-primary",
    "ltext": "None",
    "items": [
        {
        "type": "text",
        "order": 1,
        "css_class": "None",
        "values": {
            "en": {
            "stext": "Get Started",
            "ltext": ""
            },
            "fr": {
            "stext": "frGet Started",
            "ltext": ""
            },
            "hi": {
            "stext": "hiGet Started",
            "ltext": ""
            }
        }
        }
    ]
    }
]
{% endcomment %}

{% load my_filters %}

{% for item in buttons %}
    {% comment %}
        if a href_page value is provided then use a href, else just put a button
    {% endcomment %}
    
    {% if item.href_page != "" %}
        <a href="{% url 'client_page' client.client_id item.href_page %}"
            class="btn btn-primary {{ item.css_class|default:'' }}">
                {% with item_list=item|wrap_in_list %}
                    <c-textrouter :ids="item_list"></c-textrouter>
                {% endwith %}
        </a>
        
    {% else %}
        <button class="btn btn-primary {{ item.css_class|default:"" }}">
            {% with item_list=item|wrap_in_list %}
                <c-textrouter :ids="item_list"></c-textrouter>
            {% endwith %}    
        </button>    
    {% endif %}
{% endfor %}

