

{% load my_tags %}

{% for item in items %}
    {% comment %}
    {% mylist_bykey item.textblocks 'name' 'block_id' as result_var %}
    <c-svgtextbadge :items="result_var.0.items"></c-svgtextbadge>
    {% endcomment %}
        {% if item.children %}  <!-- if the children length > 0 -->
            <li>                
                <details>
                    <summary>
                        <c-svgtextsvg  :textdict="item.translations.name" :svg_pre="item.svg_pre" :svg_suf="item.svg_suf"></c-svgtextsvg>
                    </summary>                   
                    <ul class="p-2">
                        <c-navbar_v001_l1recur :items="item.children"></c-navbar_v001_l1recur>
                    </ul>
                </details>                
            </li>
        {% else %}
            <li>
                <a href="{% url 'client_page' item.client_id item.page_id %}">
                    <c-svgtextsvg  :textdict="item.translations.name" :svg_pre="item.svg_pre" :svg_suf="item.svg_suf"></c-svgtextsvg>
                </a>
            </li>
        {% endif %}
{% endfor %}

{% comment %}

Input is like

{
  "client": 1,
  "page_id": "home",
  "ltext": "Home Page",
  "order": 1,
  "hidden": false,
  "translations": {
    "name": {
      "en": "Home2",
      "hi": "hiHome2",
      "fr": "frHome2",
      "ta": null
    }
  },
  "textblocks": [
    {
      "block_id": "name",
      "order": 1,
      "css_class": "",
      "ltext": "Home",
      "href_page": null,
      "items": [
        {
          "type": "text",
          "order": 1,
          "css_class": "",
          "values": {
            "en": {
              "stext": "Home",
              "ltext": ""
            },
            "fr": {
              "stext": "frHome",
              "ltext": ""
            },
            "hi": {
              "stext": "hiHome",
              "ltext": ""
            }
          }
        }
      ]
    }
  ],
  "layouts": [
    {
      "level": 10,
      "slug": "a",
      "order": 1,
      "css_class": "",
      "children": [
        {
          "level": 20,
          "slug": "a",
          "order": 1,
          "css_class": "",
          "children": [
            {
              "level": 30,
              "slug": "a",
              "order": 1,
              "css_class": "",
              "children": [
                {
                  "level": 40,
                  "slug": "a",
                  "order": 1,
                  "css_class": "",
                  "component": {
                    "layout": 4,
                    "comp_id": "hero",
                    "ltext": "Home Hero",
                    "css_class": "",
                    "hero_overlay": true,
                    "hero_overlay_style": "",
                    "config": {},
                    "hidden": false,
                    "order": 1,
                    "slots": [
                      {
                        "component": 1,
                        "slot_type": "text",
                        "order": 1,
                        "hidden": false,
                        "css_class": "",
                        "accordion_checked": false,
                        "textblocks": [
                          {
                            "block_id": "title",
                            "order": 1,
                            "css_class": "",
                            "ltext": "Home Title",
                            "href_page": "",
                            "items": [
                              {
                                "type": "text",
                                "order": 1,
                                "css_class": "",
                                "values": {
                                  "en": {
                                    "stext": "Home Title",
                                    "ltext": ""
                                  },
                                  "fr": {
                                    "stext": "frHome Title",
                                    "ltext": ""
                                  }
                                }
                              }
                            ]
                          },
                          {
                            "block_id": "content",
                            "order": 2,
                            "css_class": "",
                            "ltext": "Home content",
                            "href_page": "",
                            "items": [
                              {
                                "type": "text",
                                "order": 1,
                                "css_class": "",
                                "values": {
                                  "en": {
                                    "stext": "Home Content",
                                    "ltext": ""
                                  },
                                  "fr": {
                                    "stext": "frHome Content",
                                    "ltext": ""
                                  }
                                }
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "component": 1,
                        "slot_type": "figure",
                        "order": 2,
                        "hidden": false,
                        "css_class": "",
                        "image_url": "https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp",
                        "alt": "Spiderman",
                        "figure_class": "px-0 pt-0",
                        "accordion_checked": false
                      }
                    ]
                  }
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
{% endcomment %}
