
{% comment %}
{% load my_filters %}
{% endcomment %}
{% load my_tags %}

{% for item in items %}
    {% comment %}
    {% mytext_gen item.textblocks 'name' as result_var %}
    {% with lv_name=result_var %}  
    {% endcomment %}
    {% mytext_l0dict item.textblocks 'name' as result_var %}
    
        {% if item.children %}  <!-- if the children length > 0 -->
            <li>                
                <details>
                    <summary>
                        {% comment %}
                        {{lv_name}}
                        {% endcomment %}
                        <c-svgtextbadge :items="result_var.items"></c-svgtextbadge>
                    </summary>                   
                    <ul class="p-2">
                        <c-navbar_v001_l1recur :items="item.children"></c-navbar_v001_l1recur>
                    </ul>
                </details>
                
            </li>

        {% else %}
            <li>
                <a href="{% url 'client_page' item.client_id item.page_id %}">
                    {% comment %}
                    {{lv_name}}
                    {% endcomment %}
                    <c-svgtextbadge :items="result_var.items"></c-svgtextbadge>
                </a>
            </li>
        {% endif %}
    {% comment %}    
    {% endwith %}
    {% endcomment %}
{% endfor %}

