{% load my_filters %}

{% block language_switcher %} 
  <form method="post" action="{% url 'set_language' %}">
    {% csrf_token %}
    
    <select class="select" id="language-select" name="language" onchange="this.form.submit()">
      {% for item in languages %} 
        
        <option value="{{ item.id }}" {% if current_language == item.id %}selected{% endif %}>
        
        {{ item.id }}-{{item.text|my_text}}
        </option>
      {% endfor %}
    </select>
  </form>
{% endblock %}

