{% load my_filters %}

{% if hero %}   
      <div class="hero bg-base-200 min-h-screen {{ hero.class|default:'' }}"
        style="{% if hero.overlay %} {{hero.overlay_style}} {% endif %}"
      >
        {% if hero.overlay %}
          <div class="hero-overlay">
          </div>  
        {% endif %}
        <div class="hero-content flex-row {{ hero.herocontent_class|default:'' }}">    
          
          {% for herocontent in hero.herocontents|my_removetrue:"hidden"|dictsort:"order" %}
             <div>
              {% if herocontent.type == 'figure' %}
                <c-figure :figure="herocontent.figure"></c-figure>                            
              {% endif %}
              {% if herocontent.type == 'text' %}
                <h1 class="flex text-5xl font-bold mb-6 {{ title.class|default:"" }}">
                  <c-textrouter :type="herocontent.title.type" :ids="herocontent.title.ids"></c-textrouter>
                </h1>       
                <div class="flex flex-col text-2xl mb-6">
                  <c-textrouter :type="herocontent.contents.type" :ids="herocontent.contents.ids"></c-textrouter>
                </div>  
                {% if herocontent.actions.position == 'end' %}                        
                    <c-hero.actions :actions="herocontent.actions"></c-hero.actions>
                {% endif %}                
                
              {% endif %}
              {% if herocontent.type == 'card' %}
                  {% with card=site_cards|get_dictid:herocontent.link_id %}
                    <c-card :card="card"></c-card>
                  {% endwith %}
              {% endif %}
            </div>

          {% endfor %}              
        </div>
      </div>    
{% endif %}   
