{% load my_filters %}

{% if hero %}   
      <div class="hero bg-base-200 min-h-screen {{ hero.class|default:'' }}"
        style="{% if hero.overlay %} {{hero.overlay_style}} {% endif %}"
      >
        {% if hero.overlay %}
          <div class="hero-overlay">
          </div>  
        {% endif %}
        <div class="hero-content flex-row {{ hero.herocontent_class|default:'' }}">    
          
          {% for herocontent in hero.herocontents|my_removetrue:"hidden"|dictsort:"order" %}
             <div>
              {% if herocontent.type == 'figure' %}
                <c-figure :figure="herocontent.figure"></c-figure>                            
              {% endif %}
              {% if herocontent.type == 'text' %}
                <h1 class="flex text-5xl font-bold mb-6 {{ title.class|default:"" }}">
                  <c-textrouter :type="herocontent.title.type" :ids="herocontent.title.ids"></c-textrouter>
                </h1>       
                <div class="flex flex-col text-2xl mb-6">
                  <c-textrouter :type="herocontent.contents.type" :ids="herocontent.contents.ids"></c-textrouter>
                </div>  
                {% if herocontent.actions.position == 'end' %}                        
                    <c-hero.actions :actions="herocontent.actions"></c-hero.actions>
                {% endif %}                
                
              {% endif %}
              {% if herocontent.type == 'card' %}
                  {% with card=site_cards|get_dictid:herocontent.link_id %}
                    <c-card :card="card"></c-card>
                  {% endwith %}
              {% endif %}
            </div>

          {% endfor %}              
        </div>
      </div>    
{% endif %}   

{% comment %}
<div class="hero bg-base-200 min-h-screen {{ hero_class|default:"" }}">
  <div class="hero-content flex-col {{ herocontent_class|default:"" }}">
    {% if image %}
    <img
      src="{{image.src}}"
      class="{{image.class}}"
    />
    {% endif %}
    <div>
        <h1 class="text-5xl font-bold mb-6 {{ title.class|default:"" }}">
            {{title.text|my_text}}
            {% if title_badge %}
                <div class="badge badge-secondary {{ title_badge.class|default:"" }}">{{title_badge.text|my_text}}</div>
            {% endif %}
        </h1>        
        {% for item in content %}
          <p class="inline-flex items-baseline py-6 {{ item.class|default:"" }}">
              {% if item.svg %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-[1.2em] d={{prefix_svg}}"><path stroke-linecap="round" stroke-linejoin="round" 
                    d="{{item.svg}}" /></svg>
              {% endif %}
              {{item.text|my_text}}
          </p>
        {% endfor %}
        <c-buttons></c-buttons>

    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <div class="card-body">
        <fieldset class="fieldset">
          <label class="label">Email</label>
          <input type="email" class="input" placeholder="Email" />
          <label class="label">Password</label>
          <input type="password" class="input" placeholder="Password" />
          <div><a class="link link-hover">Forgot password?</a></div>
          <button class="btn btn-neutral mt-4">Login</button>
        </fieldset>
      </div>
    </div>
  </div>
</div>
{% endcomment %}